.ProjectSection {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $theme-primary;

  &__title {
    color: $light-100;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__column {
    width: 33.333333%;
    padding: 0 24px;
    margin-bottom: 38px;

    @media screen and (max-width: $tablet) {
      width: 50%;
    }

    @media screen and (max-width: $large-phone) {
      width: 100%;
    }
  }

  &__project-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: .2s linear;

    &:hover {
      transform: translateY(-10px)
    }
  }

  &__project-image {
    width: 100%;
    height: 0;
    padding-bottom: 62.25%;
    background-size: cover;
    background-position: top,
  }

  &__project-body {
    width: 100%;
    text-align: center;
    color: $light-100;
    padding: 40px 8px 14px 8px;
    left: 0;
    background: rgb(29, 25, 25);
    background: -moz-linear-gradient(0deg, rgba(29, 25, 25, 1) 25%, rgba(0, 212, 255, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(29, 25, 25, 1) 25%, rgba(0, 212, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(29, 25, 25, 1) 25%, rgba(0, 212, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1919", endColorstr="#00d4ff", GradientType=1);
    position: absolute;
    z-index: 1;
    bottom: 0;
  }

  &__project-title {
    margin: 0;
    font-size: $font-s;
  }
}